@use './mixins' as *;
@use './variables' as *;

//Styling for about the musicians section on index.html

.about {
    @include flex($direction:column,$align:flex-start); //refer to the mixins
    padding: 0 1rem;
    @include tablet {
        padding: 0 3rem;
    }
    @include desktop {
        padding: 0 8rem;
    }
    &__title {
        @include font($size:2rem); //refer to the mixins
        padding: 1.5rem 0 1rem 0;
        margin:0;
        @include tablet{
            @include text-alterations($size:2.35rem, $pad:3rem 0 2.25rem 0, $w:22.133rem); //refer to the mixins
        }
        @include desktop {
            @include text-alterations($size:2.5rem, $pad:3rem 0 2.25rem 0, $w:24.42rem);
        }
    }
    &__img{
        align-self: center;
        @include height-width($h:100%); //height and width mixin
        @include tablet{
            @include height-width($h:21rem,$w:37rem);
        }
        @include desktop{
            @include height-width($h:30rem,$w:53rem);
        }
    }
    &__quote{
        padding: 1rem 0 0.5rem 0;
        margin-bottom: 0;
        margin-top:0;
        @include font($size:1.15rem,$line:2rem);
        @include tablet{
            @include text-alterations;
        }
        @include desktop{
            @include text-alterations($size:1.5rem, $pad:2.25rem 5rem 0 5.75rem, $w: 69%);
        }
    }
    &__citation {
        @include font($size:1.15rem,$line:2rem);
        width: 91%;
        margin:0;
        @include tablet {
            margin: 0;
            @include text-alterations($size:1rem, $pad:0.5rem 3rem 0 3rem);
        }
        @include desktop {
            @include text-alterations($size:1.15rem, $pad:0.5rem 5.75rem 0 5.75rem);
        }
    }
}


.paragraphs-section { //section containing the long paragraphs 
    @include flex($direction:column,$justify:center);
    @include tablet {
        padding: 0 3rem;
    }
    @include desktop {
        padding: 0 5.7rem;
    }
    &__title{
        @include font($size:1.15rem);
        margin: 1.5rem 0 0 0;
        @include tablet {
            @include font($size:1.5rem);
            margin: 3rem 0 2.25rem 0;
        }
    }
    &__container {
        @include flex($direction:column, $gap:1.5rem);
        @include tablet {
            column-gap:2rem;
            flex-direction: row;
        }
    }
    &__long-paragraph{
        @include font($weight:400,$line:1.75rem);
        margin-bottom: 0;
        @include tablet {
            @include font($weight:400,$size:0.85rem,$line:1.55rem);
            margin: 0 0 1rem 0;
        }
        @include desktop {
            font-size: 1rem;
        }
    }
}