@use './mixins' as *;
@use './variables' as *;


.convo {
    padding: 0 1rem;
    @include tablet {
        padding: 0 3rem;
    }
    @include desktop {
        padding: 0 8rem;
    }
    &__title {
        @include font($size:2rem);
        padding: 1.5rem 0 1rem 0;
        margin:0;
        @include tablet{
            @include text-alterations($size:2.35rem, $pad:3rem 0 2.25rem 0, $w:24rem);
        }
        @include desktop {
            @include text-alterations($size:2.5rem, $pad:3rem 0 2.25rem 0, $w:26rem);
        }
    }
}


.comment {
    @include flex($justify: center, $gap: 1rem);
    &__pic-placeholder{
        margin-top:1rem;
        @include height-width($h:3rem, $w:3rem);
        border-radius:50%;
        overflow: hidden;
    }
    &__pic{
        height:3rem;
    }
    &__form{
        @include flex($direction:column, $row:0.25rem)
    }
    &__label{
        text-transform: uppercase;
        @include font($weight:400,$size:0.75rem,$color:$Secondary-text)

    }
    &__input {
        @include height-width($w:20rem, $h:2.75rem);
        @include tablet {
            width: 37rem;
        }
        @include desktop{
            width: 32rem;
        }
        @include font($size:0.75rem, $weight:400);
        padding-left: 1rem;
        background-color: $alternative-background;
        border: 1px solid $divider-color;
        border-radius: 4px;
        &:focus{
            border: 1px solid black;
            outline:none;
        }
        &--error {
            &:focus{
                border:1px solid #D22D2D;
            }
        }
    
        &::placeholder{
            @include font($size:1rem,$weight:400,$color:black);
            @include desktop{
                @include font($size:0.85rem,$weight:400,$color:black);
            }
        }
        &--short {
            margin-bottom: 1.35rem;
        }
        &--long {
            height: 5rem;
            resize: none;
            padding-top:1rem;
        }
    }
}


.btn {
    @include btn;
    @include tablet{
        width:10rem;
        height:2.5rem;
        @include font($size:1rem, $weight:400, $color:$alternative-background);
    }
}


.convo-divider {
    @include divider;
    @include tablet{
        width:42rem;
    }
    @include desktop{
        width: 32rem;
    }
}

.previous-comment {
    @include flex($justify:center, $gap:1rem);
    &__pic-placeholder{
        margin-top:1rem;
        @include height-width($h:3rem, $w:3rem);
        border-radius:50%;
        overflow: hidden;
        background-color: $divider-color;
    }
    &__texts{
        @include flex($direction:flex);

    }
    &__texts-top{
        @include flex($justify:space-between);
    }

    &__name{
        margin-bottom:0;
        @include font($size:1rem);
        @include desktop {
            @include font($size:0.85rem);
        }
    }
    &__date{
        margin-bottom:0;
        @include font($size:1rem, $color:$Secondary-text,$weight:400);
        @include desktop {
            @include font($size:0.85rem, $color:$Secondary-text,$weight:400);
        }
    }
    &__long-paragraph{
        width:21rem;
        @include font($size:1.15rem, $weight:400, $line:1.5rem);
        @include tablet {
            width:38.125rem;
            @include font($size:1rem, $weight:400, $line:1.5rem);
        }
        @include desktop{
            width:33rem;
            @include font($size:0.85rem, $weight:400, $line:1.5rem);
        }
        margin-top: 0.5rem;
        margin-bottom:0;
    }

}