@font-face{
    font-family: "avenir";
    src: url('../../Design-Package/Assets/Font/Alternative-files/AvenirNextLTProBold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: "avenir";
    src: url('../../Design-Package/Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: "avenir";
    src: url('../../Design-Package/Assets/Font/Alternative-files/AvenirNextLTPro.ttf');
    font-style: normal;
    font-weight: 400;
}
