
//bold weight font
@font-face{
    font-family: "avenir";
    src: url('../../Design-Package/Assets/Font/AvenirNextLTPro-Bold.otf');
    font-style: normal;
    font-weight: 700;
}


//demi weight font
@font-face{
    font-family: "avenir";
    src: url('../../Design-Package/Assets/Font/AvenirNextLTPro-Demi.otf');
    font-style: normal;
    font-weight: 500;
}


//normal weight font
@font-face{
    font-family: "avenir";
    src: url('../../Design-Package/Assets/Font/AvenirNextLTPro-Regular.otf');
    font-style: normal;
    font-weight: 400;
}
