@use './mixins' as *;
@use './variables' as *;


footer {
    background: $primary-bg-color;
    // display: flex;
    // flex-direction: column;
    @include flex($direction:column);
    padding: 0 1rem;
    @include tablet {
        padding: 0rem 3rem 2.25rem 3rem;
    }
    @include desktop {
        padding: 0rem 8rem 2.25rem 8rem;
    }
}

.footer-top {
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    @include flex($direction:column, $justify:space-between, $gap:normal);
    @include tablet {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        @include flex($justify:space-between, $align:center);
    }

    &__title{
        // font-family: 'avenir-demi';
        // font-size:2rem;
        // color: $alternative-background;
        // font-weight: 400;
        @include font($size:2rem, $color:$alternative-background);
        padding:1.5rem 0 1rem 0;
        margin: 0;
        width:100%;
        @include tablet {
            @include text-alterations($size:2.35rem, $pad:3rem 0 2.25rem 0, $w:normal);
            //font-size: 2.35rem;
            margin-right: 0.55rem;
            //padding:3rem 0 2.25rem 0;
        }
        @include desktop {
            font-size:2.5rem;
            margin-right: 2rem;
        }
    }
    &__icons-section {
        // display: flex;
        // column-gap:2rem;
        // flex-wrap: wrap;
        @include flex($wrap:wrap, $gap:2rem);
        margin-bottom: 1.5rem;
        @include tablet {
            flex-wrap: nowrap;
            margin-bottom:0;
        }
    }
    &__icons{
        transform: scale(1.5);
        //padding-left:0.25rem;
        //margin-right: 0.5rem;
        // padding-top:.25rem;
        padding:0.25rem 0.5rem 0 0.35rem;
        @include tablet{
            transform: scale(1.2);
            padding: 0.25rem 0 0 0;
        }
        @include desktop{
            // margin-right:0.75rem;
            padding:0.25rem 0.75rem 0 0;
        }
        
    }
    &__logo {
        display: none;
        @include tablet{
            display: block;
        }
        @include desktop {
            transform: scale(1.25);
        }
    }
}


.employees-section {
    // display:flex;
    // flex-wrap: wrap;
    // column-gap: 3rem;
    @include flex($wrap:wrap, $gap:3rem);
    padding-bottom:2rem;
    @include tablet {
        column-gap: 3.8rem;
        width: 100%;
        padding-bottom:3rem;
    }
    @include desktop {
        column-gap: 4rem;
    }

}

.employee{
    // display: flex;
    // flex-direction: column;
    @include flex($direction:column);
    &__name{
        // font-family: 'avenir-regular';
        // font-size:1em;
        // color: $alternative-background;
        // font-weight: 600;
        // line-height: 1.5rem;
        @include font($color:$alternative-background, $line:1.5rem);
        @include tablet {
            font-size: 0.85rem;
            margin-top:0;
        }
        @include desktop {
            font-size:1em;
        }
    }
    &__address {
        // font-family: 'avenir-regular';
        // font-size:1em;
        // color: $alternative-background;
        // font-weight: 400;
        // margin-top:0;
        // margin-bottom: 1rem;
        margin:0 0 1rem 0;
        //line-height: 1.5rem;
        @include font($color:$alternative-background, $weight:400, $line:1.5rem);
        @include tablet {
            font-size: 0.85rem;
        }
        @include desktop {
            font-size:1em;
            margin-bottom: 1.5rem;
        }
    }
    &__email {
        text-decoration: none;
        // font-family: 'avenir-regular';
        // font-size:1rem;
        // color: $alternative-background;
        // font-weight: 400;
        @include font($color:$alternative-background, $weight:400);
        margin-bottom:1rem;
        @include tablet {
            margin-bottom:0;
            font-size: 0.9rem;
        }
    }
}


.copyright {
    // font-family: 'avenir-regular';
    // font-size:0.85rem;
    // color: $alternative-background;
    // font-weight: 400;
    @include font($size:0.85rem, $color:$alternative-background, $weight:400);
    // margin-top: 1.5rem;
    // margin-bottom: 1.5rem;
    margin:1.5rem 0;
    @include tablet {
        // margin-top: 0;
        // margin-bottom: 0;
        margin:0;
    }
}

.logo-mobile {
    transform: scale(1.25);
    align-self: flex-start;
    padding: 1.5rem 1rem 0.5rem 1rem;
    @include tablet {
        display:none;
    }
}