@use './mixins' as *;
@use './variables' as *;



.gallery-section {
    padding:0 1rem 2rem 1rem;
    background-color: $alternative-background;
    @include tablet {
        padding: 0 3rem 3rem 3rem;
    }
    @include desktop {
        padding:0 8rem 3rem 8rem;
    }
    &__title {
        @include font($size:2rem);
        margin: 0;
        padding: 2.75rem 0 1rem 0;
        @include tablet {
            @include text-alterations($size:2.35rem, $pad:3rem 0 2.25rem 0);
        }
        @include desktop {
            @include text-alterations($size:2.5rem, $pad:3rem 0 2.25rem 0);
        }
    }
}

.gallery {
    row-gap:1.25rem;
    @include flex($wrap:wrap, $justify:center, $align:center, $direction:column,$gap:1rem);
    @include tablet {
        row-gap: 2rem;
        @include flex($wrap:wrap, $justify:space-between,$gap:1rem )
    }
    @include desktop {

        column-gap: 1.25rem;
        row-gap:1.25rem;
        justify-content: center;
    }
    &__img{
        width:100%;
        @include tablet {
            width:30%;
        }
        @include desktop {
            width:32%;
        }
    }
}