@use './mixins' as *;
@use './variables' as *;


.nav {
    background: $primary-bg-color;
    padding:4vh 10vw 0 10vw;
    display: flex;
    column-gap: 5vw;
    &__logo{
        width:120px;
        height:20px;
    }
    &__link {
        text-decoration: none;
        font-family: "avenir-regular";
        color:$divider-color;
        &--current{
            font-family:"avenir-demi";
            border-bottom: 3px solid $secondary-bg-color;
            color:$alternative-background;
            padding-bottom: 4vh;
        }
    }
}