@use './mixins' as *;
@use './variables' as *;


.nav {
    background: $primary-bg-color;
    @include flex($direction:column);
    @include tablet {
        padding: 0 3.25rem;
        @include flex($direction:row,$align:center);
    }
    @include desktop {
        padding: 1rem 9rem 1rem 8rem;
    }
    &__logo{
        padding: 1.25rem 0;
        // transform: scale(1.25);
        @include tablet {
            transform: scale(1);
            margin-right:2rem;
        }
        @include desktop{
            transform:scale(1.15);
            margin-right:0.5rem;
        }
    }
    &__list {
        display:flex;
        list-style-type: none;
        margin:0;
        padding-left:0;
    }
    &__item {
        padding-left: 0;
        text-align: center;
        width:50vw;
        @include tablet {
            width:100%
        }
        &--current {
            padding-bottom:0.75rem;
            border-bottom: $active-cta;
            @include tablet {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    &__link {
        text-decoration: none;
        @include font($color:$Secondary-text);
        @include tablet {
            font-size: 0.88rem;
            margin-right: 3rem;
        }
        @include desktop {
            font-size: 1rem;
        }
        &--current{
            @include font($color:$alternative-background);
            padding-bottom: 2rem;
            @include tablet {
                border-bottom: $active-cta;
                padding: 1.6rem 0 1.27rem 0;
            }
            @include desktop {
                padding: 0 0 2.35rem 0;
        }
        }
    }
}

.logo-link {
    align-self: center;
}