@use './mixins' as *;
@use './variables' as *;


.nav {
    background: $primary-bg-color;
    @include flex($direction:column);
    @include tablet {
        padding: 0 3.25rem;
        @include flex($direction:row,$align:center);
    }
    @include desktop {
        padding: 0.9rem 9rem 0.9rem 8rem;
    }
    &__logo{
        padding: 1.5rem 0;
        // transform: scale(1.25);
        width:8.9rem;
        @include tablet {
            // transform: scale(1);
            width:7.125rem;
            margin-right:2rem;
        }
        @include desktop{
            // transform:scale(1.15);
            width:8.25rem;
            margin-right:0.5rem;
        }
    }
    &__list {
        display:flex;
        list-style-type: none;
        margin:0;
        padding-left:0;
    }
    &__cta {
        padding-left: 0;
        text-align: center;
        width:50vw;
        @include tablet {
            width:100%
        }
        &--active{
            padding-bottom:0.75rem;
            border-bottom: $active-cta;
            @include tablet {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        &--active-show {
            padding-bottom:0.75rem;
            border-bottom: $active-cta;
            @include tablet {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    &__link {
        text-decoration: none;
        @include font($weight:400,$color:$Secondary-text);
        @include tablet {
            font-size: 0.88rem;
            margin-right: 3rem;
        }
        @include desktop {
            font-size: 1rem;
        }
        &--current{
            @include font($color:$alternative-background);
            @include tablet {
                border-bottom: $active-cta;
                padding: 1.5rem 1rem 1.5rem 1rem;
            }
            @include desktop {
                padding: 0 1rem 2.5rem 1rem;
        }
        }
        &--current-show {
            @include font($color:$alternative-background);
            @include tablet {
                border-bottom: $active-cta;
                padding: 1.5rem 0.25rem 1.5rem 0.25rem;
            }
            @include desktop {
                padding: 0 1rem 2.35rem 1rem;
        }
        }
    }
}

.logo-link {
    align-self: center;
}