@use './mixins' as *;
@use './variables' as *;



.hero {
    @include height-width;
    @include flex($direction:column,$justify:center, $align:flex-start);
    background: $dark-filter, $bio-hero-url no-repeat center;
    background-size: cover;
    @include tablet {
        @include height-width($h:54vh);
    }
    @include desktop {
        @include height-width($h:75vh);
    }
    &__title{
        @include font($size:2rem, $color:$secondary-bg-color);
        padding-left:1rem;
        @include tablet {
            padding-left: 3rem;
            @include font($size:4rem,$color:$secondary-bg-color);
        }
        @include desktop {
            padding-left: 8rem;
        }
    }
}
