@use './mixins' as *;
@use './variables' as *;


//styling for hero section for index page
.hero {
    @include height-width; //refer to mixins
    @include flex($direction:column,$justify:center, $align:flex-start); //refer to mixins
    background: $dark-filter, $bio-hero-url no-repeat center; //refer to variables to see darkfilter styling applied and the url to bio image
    background-size: cover;
    @include tablet {
        @include height-width($h:54vh); //refer to mixins
    }
    @include desktop {
        @include height-width($h:75vh);
    }
    &__title{
        @include font($size:2rem, $color:$secondary-bg-color); //refer to mixins
        padding-left:1rem;
        @include tablet {
            padding-left: 3rem;
            @include font($size:4rem,$color:$secondary-bg-color);
        }
        @include desktop {
            padding-left: 8rem;
        }
    }
}


//styling for hero section for shows page
.hero-shows {
    @include height-width($h:38vh);
    @include flex($direction:column,$justify:center, $align:flex-start);
    background: $dark-filter, $show-hero-url no-repeat center;
    background-size: cover;
    background-position-y: 35%; //to move the picture up in y-direction
    @include tablet {
        @include height-width($h:60vh);
    }
    @include desktop {
        @include height-width($h:75vh);
    }
    &__album {
        @include font($size:1rem, $color:$secondary-bg-color, $weight:400);
        padding-left:1rem;
        margin-top:0;
        margin-bottom:0;
        @include tablet {
            padding-left: 3rem;
            @include font($size:1.5rem,$color:$secondary-bg-color);
            margin-top:0;
            margin-bottom:0;
        }
        @include desktop {
            padding-left: 8rem;
            margin-bottom:1rem;
            @include font($size:2rem, $color:$secondary-bg-color);
        }
    }
    &__song-name {
        @include font($size:2rem, $color:$secondary-bg-color);
        width: 20rem;
        margin-top:1rem;
        margin-bottom:1.5rem;
        @include tablet {
            padding-left: 3rem;
            @include font($size:4rem,$color:$secondary-bg-color);
            margin-top:1rem;
            margin-bottom:1.5rem;
            width: 34rem;
        }
        @include desktop {
            padding-left: 8rem;
            margin-top:0;
            width: 32rem;
        }
    }
    &__song-stream{
        width:22rem;
        height:8rem;
        background-color: white;
        margin-right: 8rem;
        border-radius: 8px;
        @include tablet{
            margin-left:3rem;
            width:27rem;
            height:9rem;
        }
        @include desktop{
            margin-left:0;
        }
    }
    &__lower-section {
        @include flex($direction:column, $justify:space-between);
        width:100vw;
        padding-left:1rem;
        @include tablet {
            padding-left: 0;
        }
        @include desktop{
            flex-direction: row;
        }
    }
}


iframe {
    border-radius: 8px;
    height:8rem;
    width:92vw;
    @include tablet{
        height:9rem;
        width:27rem;
    }
}
