@use './variables' as *;


@mixin desktop {
    @media (min-width:1280px){
        @content;
    }
}


@mixin tablet {
    @media (min-width:768px){
        @content;
    }
}


@mixin flex($align: normal, $justify:normal, $direction:row, $wrap: nowrap, $gap:5vw) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
    flex-wrap:$wrap;
    column-gap: $gap;
}



@mixin font($size:1rem, $weight: 500, $color:$primary-bg-color,$line:normal) {
    font-family:'avenir';
    font-size:$size;
    font-weight:$weight;
    color: $color;
    line-height: $line;
}

@mixin height-width($h:28vh,$w:100%) {
    height:$h;
    width: $w;
}

// @mixin hero-bg($image:$bio-hero-url) {
//     background: $dark-filter, $image no-repeat center;
//     background-size: cover;
// }

@mixin text-alterations($size:1.45rem, $pad:2.25rem 3rem 0 3rem, $w: 37rem) {
    font-size: $size;
    padding: $pad;
    width: $w;
}


