@use './variables' as *;


@mixin desktop {
    @media (min-width:1280px){
        @content;
    }
}


@mixin tablet {
    @media (min-width:768px){
        @content;
    }
}


@mixin flex($align: normal, $justify:normal, $direction:row, $wrap: nowrap, $gap:5vw) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
    flex-wrap:$wrap;
    column-gap: $gap;
}



@mixin font($size:4em, $weight: 300, $color:$primary-text, $family:'avenir-demi') {
    font-size:$size;
    font-weight:$weight;
    color: $color;
    font-family: $family;
}



