@use './mixins' as *;
@use './variables' as *;


//styling for shows section

.shows {
    @include flex($direction:column); //refer to the mixins
    @include tablet {
        padding: 0 3rem;
    }
    @include desktop {
        padding: 0 8rem;
        flex-direction: row;
    }
    &__title {
        @include font($size:2rem);
        padding: 3rem 0 1rem 1rem;
        margin:0;
        @include tablet{
            @include text-alterations($size:2.35rem, $pad:3rem 0 2.25rem 1rem, $w:22.133rem);
        }
        @include desktop {
            @include text-alterations($size:2.5rem, $pad:3rem 0 2.25rem 0, $w:17rem);
        }
    }
    &__right-section{
        padding-bottom: 1.5rem;
    }
}

.column-entries {
    //not displayed for mobile view, only tablet size and up
    display: none;
    
    @include tablet {
        display:flex;
        width:35.5rem;
        // padding-top:0;
        // padding-bottom:1rem;
        // padding-left:1.125rem;
        padding: 0 0 1rem 1.125rem;
    }
    @include desktop{
        padding-top:3rem;
        padding-bottom:2.5rem;
    }
    &__title{
        text-transform: uppercase;
        @include font($size:0.85rem, $weight:500, $color:$Secondary-text);
        &--first{
            margin-right: 11.85rem;
            @include desktop {
                margin-right: 13.5rem;
            }
        }
        &--second{
            margin-right: 9.75rem;
        }
    }
}
.shows-row {
    @include flex($direction:column, $justify:space-between, $align: flex-start);
    width:53rem;
    padding: 1rem;
    border-bottom: $border-bottom;
    //transition animation for hover state
    transition: $transition;
    cursor: pointer;
    &:hover{
        background-color: $alternative-background;
    }
    //--selected modifier added with javascript when clicked to highlight each row
    &--selected{
        background-color: $divider-color;
        transition:none;
        &:hover{
            background-color: $divider-color;
        }
    }
    @include tablet {
        padding: 1.5rem 1.125rem;
        width:50rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    @include desktop{
        width:53rem;
    }
    &__date{
        width:10rem;
        @include font($size:1rem, $weight:500);
        padding-bottom:0.75rem;
        @include tablet{
            padding-bottom:0;
        }
    }

    &__venue-location-section{
        width:22rem;
        @include flex($justify:flex-start, $align:flex-start, $direction:column);
        @include tablet {
            width:22rem;
            align-items: center;
            flex-direction:row
        }
    }
    &__venue{
        @include font($size:1rem, $weight:400);
        width:22rem;
        padding-bottom:0.75rem;
        @include tablet{
            padding-bottom:0;
        }
    }
    &__location {
        @include font($size:1rem, $weight:400);
        width:13rem;
        padding-bottom:0.75rem;
        @include tablet{
            padding-bottom:0;
        }

    }
    &__title {
        text-transform: uppercase;
        @include font($size:0.8rem, $weight:500, $color:$Secondary-text);
        margin:0;
        @include tablet{
            display: none;
        }
    }
}



.btn {
    @include btn($w:92vw); //mixin for buttons
    @include tablet{
        @include font($size:1rem, $color:$alternative-background, $weight:400);
        width:10rem;
        height:2.5rem;
    }
}