@font-face{
    font-family: "avenir-bold";
    src: url('../../Design-Package/Assets/Font/Alternative-files/AvenirNextLTProBold.ttf');
}

@font-face{
    font-family: "avenir-demi";
    src: url('../../Design-Package/Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf');

}

@font-face{
    font-family: "avenir-regular";
    src: url('../../Design-Package/Assets/Font/Alternative-files/AvenirNextLTPro.ttf');
}

$font-regular: "avenir-regular";
$font-bold: "avenir-bold";
$font-demi: "avenir-demi";

$primary-bg-color: #323232;
$Secondary-text: #AFAFAF;
$secondary-bg-color:#FFFFFF;
$CTA-hover: #000000;
$divider-color:#E1E1E1;
$alternative-background: #FAFAFA;
$active-cta: 3px solid $secondary-bg-color;
$dark-filter: linear-gradient(rgba(50,50,50,0.5),rgba(50,50,50,0.5));
$bio-hero-url: url('../../Design-Package/Assets/Images/hero-bio.jpg');



