$primary-bg-color: #323232;
$Secondary-text: #AFAFAF;
$secondary-bg-color:#FFFFFF;
$CTA-hover: #000000;
$divider-color:#E1E1E1;
$alternative-background: #FAFAFA;
$active-cta: 3px solid $secondary-bg-color;
$dark-filter: linear-gradient(rgba(50,50,50,0.5),rgba(50,50,50,0.5));
$bio-hero-url: url('../Design-Package/Assets/Images/hero-bio.jpg');
$show-hero-url: url('../Design-Package/Assets/Images/hero-shows.jpg');
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$border-bottom: solid 1px $divider-color;
$transition: background-color 0.5s ease-in-out;


