@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/header' as *;
@use './partials/main' as *;
@use './partials/footer' as *;

body{
    margin: 0;
    box-sizing: border-box;
    background: $alternative-background;
}


