@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/header' as *;
@use './partials/footer' as *;
@use './partials/about' as *;
@use './partials/gallery' as *;
@use './partials/hero' as *;
@use './partials/fonts' as *;


@font-face{
    font-family: "avenir";
    src: url('../Design-Package/Assets/Font/AvenirNextLTPro-Bold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: "avenir";
    src: url('../Design-Package/Assets/Font/AvenirNextLTPro-Demi.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: "avenir";
    src: url('../Design-Package/Assets/Font/AvenirNextLTPro-Regular.otf');
    font-style: normal;
    font-weight: 400;
}


body{
    margin: 0;
    box-sizing: border-box;
    background: $secondary-bg-color;
}


$bio-hero-url: url('../Design-Package/Assets/Images/hero-bio.jpg'); //adding this so that github loads it